{{!< default}}
<section id="banner">
    <h2>联系我们</h2>
    <p>告诉我们你所需要的...</p>
</section>
<!-- Main -->
<section id="main" class="container 75%">
    <div class="box">
        <ul class="alt">
			<li>
                广州辂轺信息科技有限公司
            </li>
            <li>
                地址：广州市天河区天河东路242号705
            </li>
			<li>
                电话：+86 020 87519370
			</li>
			<li>
                传真：+86 020 85262282
			</li>
			<li>
                电邮：info@amwares.com
			</li>
			<li>
                邮编：510630
			</li>
		</ul>
    </div>
</section>
