{{!< default}}
<!-- Banner -->
<section id="banner">
    <h2>Amwares</h2>
    <p>专注于汽车ECU（电子控制单元）产品开发的科技企业</p>
</section>

<!-- Main -->
<section id="main" class="container">

    <section class="box special">
        <header class="major">
            <h2>简介</h2>
            <p>广州辂轺信息科技2013年成立于广州,是一家专注于汽车ECU（电子控制单元）产品开发的科技企业。依托于自行开发的AUTOSAR汽车软件架构和OSEK实时操作系统，凭借自身多年的技术积累，为广大客户提供各种ECU解决方案和产品。</p>
        </header>
        <span class="image featured"><img src="/images/home.jpg" alt="" /></span>
    </section>

    <section class="box special features">
        <div class="features-row">
            <section>
                <span class="icon major fa-rocket accent2"></span>
                <h3>AMLab</h3>
                <p>AMLab是辂轺的内部实验性项目的集合，现已有部分项目成功地应用于相关的领域。</p>
            </section>
            <section>
                <span class="icon major fa-area-chart accent3"></span>
                <h3>AUTOSAR</h3>
				<p>辂轺已开发一套基于AUTOSAR 4.1软件架构的基础软件，并同时将之应用于AMAX系列空调控制ECU中。</p>
            </section>
        </div>
        <div class="features-row">
            <section>
                <span class="icon major fa-cloud accent4"></span>
                <h3>ECU仿真系统</h3>
				<p>辂轺的ECU仿真系统可以用普通电脑来仿真整车的ECU的信号，使得ECU的检测工作可以脱车进行，大大的提高了效率。目前辂轺的ECU仿真系统已成功地应用于EPS检修上。</p>
            </section>
            <section>
                <span class="icon major fa-lock accent6"></span>
                <h3>保留位置</h3>
                <p>我都唔知填乜</p>
            </section>
        </div>
    </section>

    <div class="row">
        <div class="6u 12u(narrower)">

            <section class="box special">
                <span class="image featured"><img src="/images/camry.jpg" alt="" /></span>
                <h3>Camry</h3>
                <h5>产品型号</h5>
				<p>AMAX-TC1</p>
                <ul class="actions">
                    <li><a href="#" class="button alt">详情</a></li>
                </ul>
            </section>

        </div>
        <div class="6u 12u(narrower)">

            <section class="box special">
                <span class="image featured"><img src="/images/reiz.jpg" alt="" /></span>
                <h3>Reiz</h3>
                <h5>产品型号</h5>
                <p>AMAX-TC2</p>
				<ul class="actions">
                    <li><a href="#" class="button alt">详情</a></li>
                </ul>
            </section>

        </div>
    </div>

</section>

<!-- CTA -->
<section id="cta">

    <h2>Sign up for beta access</h2>
    <p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc.</p>

    <form>
        <div class="row uniform 50%">
            <div class="8u 12u(mobilep)">
                <input type="email" name="email" id="email" placeholder="Email Address" />
            </div>
            <div class="4u 12u(mobilep)">
                <input type="submit" value="Sign Up" class="fit" />
            </div>
        </div>
    </form>

</section>
